<div class="row">
    <div class="col-md-12">
        {% for item in form %}
            {% if configuration.isI18n and item.vars.name == 'translations' %}
                {% include(configuration.view('form_translations', '@Core/admin/crud/_form_translations.html.twig')) with {form: item} %}
            {% else %}
                {% include(configuration.view('form_widget', '@Core/admin/crud/_form_widget.html.twig')) with {form: item} %}
            {% endif %}
        {% endfor %}
    </div>
</div>

