{% extends '@Core/mail/base.html.twig' %}

{% set message %}
{% trans %}A password reset request has been made. If you are the source of this request, click on the link below or copy and paste the address if the link does not work.{% endtrans %}

<a href="{{ reseting_update_link }}">{{ reseting_update_link }}</a>
{% endset %}

{% block body %}
<p>{{ message|nl2br }}</p>
{% endblock %}
