{% extends '@Core/admin/layout.html.twig' %}

{% block body %}
    <div class="bg-light pl-5 pr-4 pt-5 pb-5">
        <div class="d-flex">
            <div class="mr-auto w-50">
                <h1 class="display-5">
                    {{ 'File manager'|trans }}
                </h1>
            </div>
        </div>
    </div>

    <div id="file-manager">
    </div>
{% endblock %}
