{% extends '@Core/admin/crud/edit.html.twig' %}

{% block body %}
    {% set header_actions_dropdown_menu %}
        <button type="submit" form="form-resetting-request" class="dropdown-item">
            {{ 'Send a recovery email'|trans }}
        </button>
    {% endset %}

    {{ parent() }}

    <form method="post" action="{{ path('admin_user_resetting_request', {entity: entity.id}) }}" id="form-resetting-request" data-form-confirm>
        <input type="hidden" name="_token" value="{{ csrf_token('resetting_request' ~ entity.id) }}">
    </form>
{% endblock %}
